In [5]:
# 리스트 생성
list1 =[1,2,3,4,5]

In [2]:
# 리스트의 주소값 확인
id(list1)

2408084825920

In [3]:
# 리스트에 값 추가
list1.append(6)

In [4]:
# 리스트의 주소값 확인
id(list1)

2408084825920

In [7]:
# 리스트에 새로운 값 할당
list1=[1,2,3,4]
id(list1)

2408084805312

In [8]:
list2=list1
id(list2)

2408084805312

In [9]:
# 다른 주소로 값만 가져오기
# .copy() : 값만 가져오고 주소는 복사해오지 않음

str

### 리스트

In [10]:
# remove, insert, pop, append, count, len, reverse, sort, 인덱싱, 슬라이싱, index...
# 인덱싱, 슬라이싱
# append
# remove

In [17]:
list1=[]
for i in range(1,51):
    list1.append(i)
    
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [21]:
list2=range(1,51)
print(list2)

range(1, 51)

In [22]:
# 인덱싱 슬라이싱
# 대괄호 []
# 10 출력하기
# 15~25 출력

In [32]:
print(list1[9])
print(list1[14:25])

10
[15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

### 딕셔너리
- key, value로 이루어짐

In [ ]:
# dic_team 변수명을 사용해서 딕셔너리 만들기
# 이름 나이 key 값 사용
# 팀원들의 정보

In [ ]:
dic_team={
    'name':["권우진", "김태경","최종인","최찬호"], 'age':[24,23,29,31]
}

In [ ]:
# import pandas as pd
# test_pd = pd.DataFrame(dic_team)

In [ ]:
# test_pd.to_csv("asdf.csv".encoding ='cp949')